<section class="elevator-panel">
	<div class="elevator-panel__status">
		<span>
			{{ elevatorService.movementDirection$.value === 'DOWNING' ? '\\/' : '/\\' }}
		</span>
		<label>
			{{ elevatorService.currentFloor$.value }}
		</label>
	</div>
	<div class="elevator-panel__controls">
		<button *ngFor="
				let floor of [].constructor(buildingService.numberOfFloors$.value);
				let i = index;
			" class="elevator-panel__controls__button" (click)="travel(i + 1)">
			{{ i + 1 }}
		</button>
	</div>
</section>