.overview {
	--border: 1px solid #222222;

	width: 100%;
	display: flex;
	justify-content: space-between;

	&__container {
		width: 25%;
		height: 512px;

		&--lg {
			width: 45%;
		}
	}
}
